@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
* {
  box-sizing: border-box;
}

body {
  font-family: 'swap', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('img/O1t26Hb-the-avenger-wallpaper-hd.jpg') no-repeat center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0);
}

.loading-text {
  font-size: 150px;
  color: red;
  text-shadow: 4px 4px 2px rgba(255,255,255,0.38);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}